{
	"env": {
		"browser": true
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"requireConfigFile": false
	},
	"rules": {
		"react/react-in-jsx-scope": "off",
		"react/jsx-uses-react": "off"
	},
	"plugins": [
		"flowtype"
	],
	"extends": [
		"plugin:flowtype/recommended"
	]
}
